.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.sameline{
	display:inline-block;
	vertical-align:top;
}
.graphgrid{
	display: inline;
}
.rowele{
	display:inline;
	margin-left:3px;
	margin-right:3px;
}
.grid{
	display:grid;
	grid-template-columns: auto auto;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.navbar li {
    float: left;
}

.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar li a:hover:not(.active) {
    background-color: #111;
}

#loginBtn {
  float: right;
}

#download-btn{
  color: red;
}

.trending-li {
  display: block;
}

#about-div, #trending-div, #home-div {
  margin-left: 5px;
}

.flex-container {
  display: flex;
}

.flex-container div {
  margin: 10px;
  padding: 10px;
  background-color: #B8B8B8;
  border-radius: 5px;
}
